@charset "utf-8";

body{
    /*background-color: #e6e6e6;*/
    background-color: #0C141A;
    color:white;
    overflow-x:hidden;
    box-sizing:border-box;
}



/*mac window*/

.window {
    border: 1px solid #acacac;
    border-radius: 6px;
    box-shadow: 0px 0px 20px #acacac;
    /*background: white;*/
    font-family: HelveticaNeue, 'Helvetica Neue', 'Lucida Grande', Arial, sans-serif;
    min-height:95vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),url("../img/tandon.jpg");
    background-position: 0 4%;
    background-size: cover;
    padding-bottom:30px;
}

.window a{
    text-decoration:none;
}

.window span {
    line-height: 9px;
    vertical-align: 50%;
}

.titlebar {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #ebebeb), color-stop(1, #d5d5d5));
    background: -webkit-linear-gradient(top, #ebebeb, #d5d5d5);
    background: -moz-linear-gradient(top, #ebebeb, #d5d5d5);
    background: -ms-linear-gradient(top, #ebebeb, #d5d5d5);
    background: -o-linear-gradient(top, #ebebeb, #d5d5d5);
    background: linear-gradient(top, #ebebeb, #d5d5d5);
    color: #4d494d;
    font-size: 11pt;
    line-height: 20px;
    text-align: center;
    width: 100%;
    height: 20px;
    border-top: 1px solid #f3f1f3;
    border-bottom: 1px solid #b1aeb1;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.buttons {
    padding-left: 8px;
    padding-top: 3px;
    float: left;
    line-height: 0px;
}

.buttons:hover a {
    visibility: visible;
}

.close {
    background: #ff5c5c;
    font-size: 9pt;
    width: 11px;
    height: 12px;
    border: 1px solid #e33e41;
    border-radius: 50%;
    display: inline-block;
}

.close:active {
    background: #c14645;
    border: 1px solid #b03537;
}

.close:active .closebutton {
    color: #4e0002;
}

.closebutton {
    color: #820005;
    visibility: hidden;
    cursor: default;
}

.minimize {
    background: #ffbd4c;
    font-size: 9pt;
    line-height: 11px;
    margin-left: 4px;
    width: 11px;
    height: 12px;
    border: 1px solid #e09e3e;
    border-radius: 50%;
    display: inline-block;
}

.minimize:active {
    background: #c08e38;
    border: 1px solid #af7c33;
}

.minimize:active .minimizebutton {
    color: #5a2607;
}

.minimizebutton {
    color: #9a5518;
    visibility: hidden;
    cursor: default;
}

.zoom {
    background: #00ca56;
    font-size: 9pt;
    line-height: 11px;
    margin-left: 6px;
    width: 11px;
    height: 12px;
    border: 1px solid #14ae46;
    border-radius: 50%;
    display: inline-block;
}

.zoom:active {
    background: #029740;
    border: 1px solid #128435;
}

.zoom:active .zoombutton {
    color: #003107;
}

.zoombutton {
    color: #006519;
    visibility: hidden;
    cursor: default;
}

.content {
    font-family: "Titillium Web",serif;
    text-align: center;
    padding-bottom:20px;
}

.info{
    margin-top:15vh;
}

.content h3{
    font-size:25px;
    color: white;
    /*color: #82b9ff;*/
}

.content h1{
    transform: skew(-15deg);
    font-size:45px;
    line-height:200%;
    /*color: #6fb3ff;*/
    color: white;
}

.content p{
    /*color: #3A6D8c;*/
    color: #ffffff;
    font-size:20px;
    display:inline-block;
    width:65%;
}

.button{
    padding: 5px 10px;
    border:3px solid #82b9ff;
    border-radius: 10px;
    color: white;
    background-color: #25354a

}

.mac-first{
    text-align:left;
    padding-bottom:10px;
}

.content h5{
    font-size:17px;
    color:white;
}

.minmic{
    word-spacing: 5px;
}
.content span{
    line-height:0;

}

.resume{
    margin-top:30px;
}

@media screen and (max-width: 640px) {
    .content h5{
        font-size:12px;
    }
    .window{
        background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),url("../img/tandon2.jpg");
    }
}


/*vertical tabs*/

.legend {
    font-size: 40px;
    text-align: center;
    padding: 10px 10px;
    color:white;
}

.title{
    margin-top:20px;
    align-content: center;
    text-align:center;
}

.icon{
    width:10vw;
    height:10vw;
    max-width:75px;
    max-height:75px;
    border-radius:50%;
    background:white;
}

.F1{
    margin-left:5%;
    width:90%;
    border:none;
    border-top: 5px solid #8fcbd6;
    border-radius:50px
}

.margin-container{
    margin: 0 5vw;
    margin-top:35px;
}

.tab {
    float: left;
    background-color: transparent;
    width: 30%;
    height: 400px;
}

.tab button {
    display: block;
    background-color: transparent;
    color: #5c5c5c;
    padding: 22px 16px;
    width: 100%;
    border:none;
    outline: none;
    border-left: 5px solid #273f5a;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: calc(7px + .65vw);
    height:100px;

}

.tab button:hover {
    background-color: #2b5473;
    color:white;
    border-radius:0;
}

.tab button.active {
    border-left: 5px solid #8fcbd6;
    border-radius:15px;
    color:white;
}

.tabcontent {
    float: left;
    padding: 0px 12px;
    /*border-bottom: 2px solid #aa9cc9;*/
    border-radius:15px;
    width: 70%;
    border-left: none;
    border-right:none;
    height: 400px;
}

.tabcontent p{
    font-size: calc(10px + .65vw);
    color: #b7b7b7;
}

.tabcontent h3{
    font-size: calc(10px + .65vw);

}

.details{
    margin-top:10px;
    margin-left:30px;
    font-size: calc(10px + .65vw);

}

.details ul{
    position:relative;
    list-style:none;
    margin-left:0;
    padding-left:1.2em;
    color: #f3f3f3;
}

.details ul li:before{
    color:#8fcbd6;
    content:"\25B9";
    position:absolute;
    left:0;
}

@media screen and (max-width: 640px) {
    .tabcontent{
        height:500px;
    }
    .tab{
        height:500px;
    }

}


/* Skills section*/
.main-wrapper {
    width: 85%;
    margin: 3em auto;
    text-align: center;
}

.badge {
    position: relative;
    margin: 1.5em 3em;
    width: 6em;
    height: 10em;
    border-radius: 10px;
    display: inline-block;
    top: 0;
    transition: all 0.2s ease;
}
.badge:before, .badge:after {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: inherit;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.badge:before {
    transform: rotate(60deg);
}
.badge:after {
    transform: rotate(-60deg);
}
.badge .circle {
    width: 120px;
    height: 120px;
    position: absolute;
    background: #fff;
    z-index: 1;
    border-radius: 50%;
    top: 0;
    left: -10px;
    right: 0;
    bottom: 0;
    margin: auto;
}
.badge .circle i.fa {
    font-size: 2em;
    margin-top: 15px;
}
.badge .font {
    display: inline-block;
    margin-top: 1em;
}
.badge .ribbon {
    position: absolute;
    border-radius: 4px;
    width: 120px;
    z-index:1;
    color: #fff;
    margin-top: 135px;
    padding:2px 12px;
    left: 50%;
    margin-left: -60px;
    font-size: 17px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.27);
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    background: #3A6D8c;
    cursor: default;
}

.python {
    background: linear-gradient(to bottom right, #1976D2 0%, #283593 100%);
}

.cPlus {
    background: linear-gradient(to bottom right, #56A680 0%, #00796B 100%);
}

.sql {
    background: linear-gradient(to bottom right, #4479a0 0%, #2c4059 100%);
}

.mongo{
    background: linear-gradient(to bottom right, #cddc39 0%, #8bc34a 100%);
}

.influx{
    background: linear-gradient(to bottom right, #E0E0E0 0%, #BDBDBD 100%);
}

.html{
    background: linear-gradient(to bottom right, #f4511e 0%, #b71c1c 100%);
}

.css{
    background: linear-gradient(to bottom right, #4FC3F7 0%, #2196F3 100%);
}

.javascript{
    background: linear-gradient(to bottom right, #ffeb3b 0%, #fbc02d 100%);
}

.node{
    background: linear-gradient(to bottom right, #4CAF50 0%, #1B5E20 100%);
}

.flask{
    background: linear-gradient(to bottom right, #606060 0%, #000000 100%);
}









